.faq__item {
	position: relative;
	border-bottom: 1px solid $purple;

	&:first-child {
		border-top: 1px solid $purple;
	}
}

.faq__title {
	font-size: 24px;
	font-weight: 700;

	@media($media_sm) {
		font-size: 16px;
	}
}

.faq__header {
	padding: 20px;
	width: 100%;
	position: relative;

	&.active {
		.faq__close {
			transform: rotate(180deg);
		}
	}
}

.faq__close {
	width: 40px;
	height: 40px;
	pointer-events: none;
	transform: rotate(45deg);

	transition: .3s ease-in-out;

	@media($media_sm2) {
		min-width: 25px;
		min-height: 25px;
		max-width: 25px;
		max-height: 25px;
	}
}

.faq__text {
	max-height: 0;
	overflow: hidden;

	transition: .3s ease-in-out;
	line-height: 150%;
	
	a,
	button {
		color: $yellow;
	}
}