<div class="modal">
    <div class="modal__main">
        <button class="modal__close">
            <svg class="modal__svg">
                <use xlink:href="#close"></use>
            </svg>
        </button>

        <div class="modal-form__main d-f">
            <form action="#" class="modal__form d-f flex-direction-column ai-cen">
                <h2 class="title title--sm2 fw-600">Оставить заявку</h2>
                <h3>Оставьте контактные данные и наш специалист перезвонит Вам в течении 5 минут</h3>

                <input type="text" placeholder="Имя" class="form__input mb-10">
                <input type="text" placeholder="Номер телефона" class="form__input mb-10">
                <textarea placeholder="Сообщение" class="form__input form__textarea mb-20"></textarea>

                <button class="modal-btn w-100 mt-20">Отправить запрос</button>
            </form>
        </div>
    </div>
</div>